<h1>Crie o seu Post</h1>

<form action="/gravar-post" method="POST">
    <label for="">Título</label><br>
    <input type="text" name="titlepost"><br>
    <label for="">Conteúdo</label><br>
    <textarea name="contentpost" id="" cols="30" rows="8"></textarea><br>
    <button type="submit">Salvar</button>
</form>